.gallery-container {
  padding: 10px;
  background-color: #13294b;
  height: 100%;
}

.gallery-main-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.gallery-tile {
  background-color: #0d213e;
  backdrop-filter: blur(6px);
  width: 260px;
  height: 260px;
  padding: 10px;
  color: white;
  margin: 10px;
  text-align: center;
}

.text-container {
  padding: 5px;
  font-size: medium;
}

.image-container {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.image-container:first-child {
  transition: 0.2s;
}

.image-container:first-child:hover {
  transform: scale(1.3);
}
