.search-filter-container {
  background-color: gray;
  padding: 10px;
}

.search-input {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}

.search-items-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
